# Limpieza de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. La data contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Por favor no hagas esto (web scraping) a no ser que sea para propósitos académicos.

El dataset fue descargado hace algunos años por Henry Navarro y en ningún caso se obtuvo beneficio económico de ello.

Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com. Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos, por ejemplo ¿cuál es la casa más cara en todo el dataset?

Empecemos precisamente con esa pregunta... ¡Buena suerte!

#### Ejercicio 00. Lee el dataset assets/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [5]:
import pandas as pd

# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds = pd.read_csv('assets/real_estate.csv', sep=';')
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### Ejercicio 01. ¿Cuál es la casa más cara en todo el dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle del Prado, Nº20 es la más cara y su precio es de 5000000 USD`

In [6]:
df2=ds.loc[ds['price']>0]
df2=df2.sort_values('price', ascending= False)
Direc_Max=df2.iloc[0,12]
Preci_Max=df2.iloc[0,9]
print(f'La casa con dirección {Direc_Max} es la más cara y su precio es de {Preci_Max} USD')

La casa con dirección El Escorial es la más cara y su precio es de 8500000 USD

#### Ejercicio 02. ¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Por ejemplo:

`La casa con dirección en Calle Alcalá, Nº58 es la más barata y su precio es de 12000 USD`

In [7]:
df2=df2.sort_values('price', ascending= True)
Direc_Min=df2.iloc[0,12]
Preci_Min=df2.iloc[0,9]
print(f'La casa con dirección {Direc_Min} es la más barata y su precio es de {Preci_Min} USD')

La casa con dirección Berlin, Coslada es la más barata y su precio es de 600 USD

#### Ejercicio 03. ¿Cuál es la casa más grande y la más pequeña del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas. Por ejemplo:

`La casa más grande está ubicada en Calle Gran Vía, Nº38 y su superficie es de 5000 metros`

`La casa más pequeña está ubicada en Calle Mayor, Nº12 y su superficie es de 200 metros`

In [8]:
df3=df2.loc[df2['surface']>0]
df3=df3.loc[df3['surface']!="NaN"]
#La sección anterior me permitio descartar los elementos de 'Surface' que eran NaN
df3=df3.sort_values('surface', ascending= False)
surface_Max=df3['surface'].max()
Direc_Max=df3.iloc[0,12]
df3=df3.sort_values('surface', ascending= True)
surface_Min=df3['surface'].min()
Direc_Min=df3.iloc[0,12]
print(f'La casa más grande está ubicada en {Direc_Max} y su superficie es de {surface_Max} metros')
print(f'La casa más pequeña está ubicada en {Direc_Min} y su superficie es de {surface_Min} metros')

La casa más grande está ubicada en Sevilla la Nueva y su superficie es de 249000.0 metros
La casa más pequeña está ubicada en Calle Amparo,  Madrid Capital y su superficie es de 15.0 metros

#### Ejercicio 04. ¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

Imprime el nombre de las poblaciones separadas por coma. Por ejemplo:

`> print(populations)`

`population1, population2, population3, ...`

In [9]:
ff=df3['level5'].unique()
Salida_a = ""
for i in ff:
    Salida_a = Salida_a + i + ", "
print(Salida_a[0:len(Salida_a)-2])

 Madrid Capital, Las Rozas de Madrid, Chinchón, Robledo de Chavela, Becerril de la Sierra, San Martín de Valdeiglesias, Majadahonda, Brunete, Ciempozuelos, Collado Villalba, Móstoles, Aranjuez, Leganés, El Álamo, Galapagar, Arganda del Rey, San Sebastián de los Reyes, San Lorenzo de El Escorial, San Martín de la Vega, El Molar (Madrid), Humanes de Madrid, Moralzarzal, Villanueva del Pardillo, Alcorcón, Coslada, Torrejón de Ardoz, Sevilla la Nueva, Alcalá de Henares, Valdemoro, Cadalso de los Vidrios, Alcobendas, Valdilecha, Pinto, Villa del Prado, Manzanares El Real, Alpedrete, Getafe, Fuenlabrada, Daganzo de Arriba, Mejorada del Campo, El Escorial, Villalbilla, Belmonte de Tajo, Pozuelo de Alarcón, Villaviciosa de Odón, Miraflores de la Sierra, Rivas-vaciamadrid, Colmenar de Oreja, Campo Real, Valdemorillo, Boadilla del Monte, Parla, Colmenar Viejo, Los Molinos, Paracuellos de Jarama, San Fernando de Henares, Torrelaguna, Cubas de la Sagra, Ribatejada, Montejo de la Sierra, Valdeolmos-Alalpardo, Fuente El Saz de Jarama, Titulcia, Los Santos de la Humosa, Velilla de San Antonio, El Boalo - Cerceda – Mataelpino, Guadarrama, Cenicientos, Talamanca de Jarama, Gargantilla del Lozoya, Morata de Tajuña, Villamantilla, Quijorna, Villanueva de la Cañada, Ajalvir, El Vellón, Navas del Rey, Meco, Fresnedillas de la Oliva, Navalagamella, Valdemaqueda, Navalcarnero, Orusco de Tajuña, Tielmes, Valdeavero, Griñón, Zarzalejo, Guadalix de la Sierra, Hoyo de Manzanares, Loeches, Cercedilla, Torres de la Alameda, Arroyomolinos (Madrid), Pelayos de la Presa, Algete, Carabaña, Torrelodones, Fuentidueña de Tajo, Camarma de Esteruelas, Colmenarejo, Garganta de los Montes, Valdetorres de Jarama, Moraleja de Enmedio, Tres Cantos, Pozuelo del Rey, Valdelaguna, Aldea del Fresno, Villarejo de Salvanés, Buitrago del Lozoya, Santa María de la Alameda, Cobeña, Horcajo de la Sierra, Torrejón de la Calzada, Nuevo Baztán, Chapinería, San Agustín del Guadalix, Torrejón de Velasco, Villamanta, Lozoyuela-navas-sieteiglesias, Collado Mediano, Casarrubuelos, Fresno de Torote - Serracines, Batres, Valverde de Alcalá, Soto del Real, Pezuela de las Torres, Navacerrada, Villaconejos, Santorcaz, Corpa, Perales de Tajuña, Estremera, Lozoya, Fresno de Torote, Puentes Viejas, Patones, Bustarviejo, Ambite, La Hiruela, Villar del Olmo, Villavieja del Lozoya, La Cabrera, Madarcos, El Berrueco, Cabanillas de la Sierra, Villanueva de Perales, Valdaracete, Serranillos del Valle, Villamanrique de Tajo, Pedrezuela, El Atazar, Anchuelo, Brea de Tajo, Braojos, Piñuécar-gandullas, Valdemanco, Venturada, Robregordo, Colmenar del Arroyo, Redueña, Rascafría, Pinilla del Valle, Torremocha de Jarama, Gascones, Valdepiélagos, Canencia, Navalafuente, Navarredonda

#### Ejercicio 05. ¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

Imprima un booleano (`True` o `False`) seguido de la fila/columna que contiene el NAs.

In [10]:
ds.isna()
ds

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

#### Ejercicio 06. Elimina los NAs del dataset, si aplica (★★☆)

Imprima una comparación entre las dimensiones del DataFrame original versus el DataFrame después de las eliminaciones.

In [11]:
ds.dropna(axis=1, how="any", inplace=True)

print(ds.isna())

       Unnamed: 0  id_realEstates  isNew  url_inmueble  price   date  address  \
0           False           False  False         False  False  False    False
1           False           False  False         False  False  False    False
2           False           False  False         False  False  False    False
3           False           False  False         False  False  False    False
4           False           False  False         False  False  False    False
...           ...             ...    ...           ...    ...    ...      ...
15330       False           False  False         False  False  False    False
15331       False           False  False         False  False  False    False
15332       False           False  False         False  False  False    False
15333       False           False  False         False  False  False    False
15334       False           False  False         False  False  False    False

       country  level1  level2  ...  level2Id  level3Id  level4Id  level5Id  \
0        False   False   False  ...     False     False     False     False
1        False   False   False  ...     False     False     False     False
2        False   False   False  ...     False     False     False     False
3        False   False   False  ...     False     False     False     False
4        False   False   False  ...     False     False     False     False
...        ...     ...     ...  ...       ...       ...       ...       ...
15330    False   False   False  ...     False     False     False     False
15331    False   False   False  ...     False     False     False     False
15332    False   False   False  ...     False     False     False     False
15333    False   False   False  ...     False     False     False     False
15334    False   False   False  ...     False     False     False     False

       level6Id  level7Id  level8Id  accuracy  latitude  longitude
0         False     False     False     False     False      False
1         False     False     False     False     False      False
2         False     False     False     False     False      False
3         False     False     False     False     False      False
4         False     False     False     False     False      False
...         ...       ...       ...       ...       ...        ...
15330     False     False     False     False     False      False
15331     False     False     False     False     False      False
15332     False     False     False     False     False      False
15333     False     False     False     False     False      False
15334     False     False     False     False     False      False

[15335 rows x 25 columns]

#### Ejercicio 07. ¿Cuál la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

Imprima el valor obtenido.

In [13]:
lel5_Promedio = ds[ds['level5'] == "Arroyomolinos (Madrid)"]
Valor_Promedio = data['price'].mean()
print(Valor_Promedio)
print(lel5_Promedio)

294541.59854014596
       Unnamed: 0  id_realEstates  isNew  \
453           454       153843083  False
607           608       153620088  False
613           614       153478908  False
707           708       153736961  False
852           853       153274493  False
...           ...             ...    ...
15019       15020       152767314  False
15089       15090       152767395  False
15091       15092       152767377  False
15094       15095       152767335  False
15192       15193       146831440  False

                                            url_inmueble   price  \
453    https://www.fotocasa.es/es/comprar/vivienda/ma...  165338
607    https://www.fotocasa.es/es/comprar/vivienda/ma...  251646
613    https://www.fotocasa.es/es/comprar/vivienda/ma...  396000
707    https://www.fotocasa.es/es/comprar/vivienda/po...  225000
852    https://www.fotocasa.es/es/comprar/vivienda/ma...  373000
...                                                  ...     ...
15019  https://www.fotocasa.es/vivienda/getafe/calle-...  218000
15089  https://www.fotocasa.es/es/comprar/vivienda/ar...  230000
15091  https://www.fotocasa.es/es/comprar/vivienda/ar...  217000
15094  https://www.fotocasa.es/es/comprar/vivienda/ar...  227000
15192  https://www.fotocasa.es/es/comprar/vivienda/ma...  462000

                               date                                   address  \
453    2019-12-28T18:58:32.9299336Z                    Arroyomolinos (Madrid)
607    2019-12-28T19:14:17.4310678Z                    Arroyomolinos (Madrid)
613    2019-12-28T19:14:17.4310678Z  Avenida Islandia, Arroyomolinos (Madrid)
707            2019-12-28T19:07:00Z                    Arroyomolinos (Madrid)
852            2019-12-28T12:30:00Z                    Arroyomolinos (Madrid)
...                             ...                                       ...
15019          2019-12-18T05:04:00Z      Almeria (De), Arroyomolinos (Madrid)
15089          2019-12-18T03:29:00Z      Almeria (De), Arroyomolinos (Madrid)
15091          2019-12-18T03:21:00Z      Almeria (De), Arroyomolinos (Madrid)
15094          2019-12-18T03:07:00Z      Almeria (De), Arroyomolinos (Madrid)
15192          2019-12-17T22:00:00Z                    Arroyomolinos (Madrid)

      country  level1  level2  ... level2Id level3Id level4Id  level5Id  \
453    España  Madrid  Madrid  ...        0        0        0         0
607    España  Madrid  Madrid  ...        0        0        0         0
613    España  Madrid  Madrid  ...        0        0        0         0
707    España  Madrid  Madrid  ...        0        0        0         0
852    España  Madrid  Madrid  ...        0        0        0         0
...       ...     ...     ...  ...      ...      ...      ...       ...
15019  España  Madrid  Madrid  ...        0        0        0         0
15089  España  Madrid  Madrid  ...        0        0        0         0
15091  España  Madrid  Madrid  ...        0        0        0         0
15094  España  Madrid  Madrid  ...        0        0        0         0
15192  España  Madrid  Madrid  ...        0        0        0         0

       level6Id  level7Id  level8Id  accuracy          latitude  \
453           0         0         0         0          40,27657
607           0         0         0         0  40,2568635154027
613           0         0         0         1        40,2839697
707           0         0         0         0        40,2779047
852           0         0         0         0        40,2827315
...         ...       ...       ...       ...               ...
15019         0         0         0         0       40,27849764
15089         0         0         0         0       40,27849764
15091         0         0         0         0       40,27849764
15094         0         0         0         0       40,27849764
15192         0         0         0         0         40,270392

               longitude
453             -3,91864
607    -3,91214199444133
613           -3,9268743
707           -3,9136693
852           -3,9120264
...                  ...
15019        -3,91184112
15089        -3,91184112
15091        -3,91184112
15094        -3,91184112
15192  -3,90373610000006

[137 rows x 25 columns]

#### Ejercicio 08. Trazar el histograma de los precios para la población (level5 column) de "Arroyomolinos (Madrid)" y explica qué observas (★★☆)

Imprime el histograma de los precios y escribe en la celda del Markdown un breve análisis del trazado.

In [9]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 09. ¿Son los precios promedios de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios y escribe una conclusión sobre ellos.

In [10]:
# TODO

#### Ejercicio 10. ¿Son los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" los mismos? (★★☆)

Imprime ambos promedios de precio por metro cuadrado y escribe una conclusión sobre ellos.

Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

In [11]:
# TODO

#### Ejercicio 11. Analiza la relación entre la superficie y el precio de las casas. (★★☆)

Pista: Puedes hacer un `scatter plot` y luego escribir una conclusión al respecto.

In [12]:
# TODO: Código

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 12. ¿Cuántas agencia de bienes raíces contiene el dataset? (★★☆)

Imprime el valor obtenido.

In [13]:
# TODO

#### Ejercicio 13. ¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

Imprima la población y el número de casas.

In [14]:
# TODO

#### Ejercicio 14. Ahora vamos a trabajar con el "cinturón sur" de Madrid. Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [15]:
# TODO

#### Ejercicio 15. Traza un gráfico de barras de la mediana de los precios y explica lo que observas (debes usar el subconjunto obtenido del Ejercicio 14) (★★★)

Imprima un gráfico de barras de la mediana de precios y escriba en la celda Markdown un breve análisis sobre el gráfico.

In [16]:
# TODO: Code

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 16. Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (debes usar el subconjunto obtenido del Ejercicio 14) (★★★)

Imprime ambos valores por cada variable.

In [17]:
# TODO

#### Ejercicio 17. ¿Cuál es la casa más cara de cada población? Debes usar el subset obtenido en la pregunta 14 (★★☆)

Imprime tanto la dirección como el precio de la casa seleccionada de cada población. Puedes imprimir un DataFrame o una sola línea para cada población.

In [18]:
# TODO

#### Ejercicio 18. Normaliza la variable de precios para cada población y traza los 4 histogramas en el mismo gráfico (debes usar el subconjunto obtenido en la pregunta 14) (★★★)

Para el método de normalización, puedes usar el que consideres adecuado, no hay una única respuesta correcta para esta pregunta. Imprime el gráfico y escribe en la celda de Markdown un breve análisis sobre el gráfico.

Pista: Puedes ayudarte revisando la demostración multihist de Matplotlib.

In [19]:
# TODO

**TODO: Markdown**. Para escribir aquí, haz doble clic en esta celda, elimina este contenido y coloca lo que quieras escribir. Luego ejecuta la celda.

#### Ejercicio 19. ¿Qué puedes decir sobre el precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? Debes usar el subconjunto obtenido en la pregunta 14 (★★☆)

Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [20]:
# TODO

#### Ejercicio 20. Realiza el mismo gráfico para 4 poblaciones diferentes (columna level5) y colócalos en el mismo gráfico. Debes usar el subconjunto obtenido en la pregunta 14 (★★☆) 
Pista: Haz un diagrama de dispersión de cada población usando subgráficos (subplots).

In [21]:
# TODO

#### Ejercicio 21. Realiza un trazado de las coordenadas (columnas latitud y longitud) del cinturón sur de Madrid por color de cada población (debes usar el subconjunto obtenido del Ejercicio 14) (★★★★)

Ejecuta la siguiente celda y luego comienza a codear en la siguiente. Debes implementar un código simple que transforme las columnas de coordenadas en un diccionario de Python (agrega más información si es necesario) y agrégala al mapa.

In [23]:
from ipyleaflet import Map, basemaps

# Mapa centrado en Madrid
map = Map(center = (40.35, -3.8), zoom = 11.5, min_zoom = 1, max_zoom = 20, 
    basemap=basemaps.OpenStreetMap.Mapnik)
map

Map(center=[40.35, -3.8], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_ou…

In [ ]:
## Aquí: traza la coordenadas de los estados

## PON TU CÓDIGO AQUÍ: