In [1]:
import pandas as pd

data = pd.DataFrame({
    'SKU': [31390, 31871, 31874],
    'BANDEJA': [1, 2, 6],
    'TIENDA': [0, 0, 0],
    'BODEGA': [0, 0, 0],
    'MOVER': [0, 0, 0]

}).set_index('SKU')

df = pd.DataFrame(data)
df.to_csv('pacientes.csv', index=False)

In [2]:
data.head()

       BANDEJA  TIENDA  BODEGA  MOVER
SKU
31390        1       0       0      0
31871        2       0       0      0
31874        6       0       0      0

In [3]:
import pandas as pd

pp = pd.read_excel("ppt.xlsx")
print(pp.head(10))

                  Listado_existencias   Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                                 NaN          NaN        NaN        NaN
1                   Fecha Generación:   2025-06-11        NaN        NaN
2                                 NaN          NaN        NaN        NaN
3                            Producto    Categoría        SKU     Tienda
4    Hamburguesa Cheddar Bacon Fresco  Grab And Go      31390          1
5  Hamburguesa Classic Cheddar Fresco  Grab And Go      31391          0
6            Miga Ave Pimenton Fresco  Grab And Go      31871         14
7                Miga Ave Mayo Fresco  Grab And Go      31872          5
8               Miga Ave Palta Fresco  Grab And Go      31873          0
9            Miga Barros Jarpa Fresco  Grab And Go      31874          4

  Unnamed: 4 Unnamed: 5   Unnamed: 6
0        NaN        NaN          NaN
1        NaN        NaN          NaN
2        NaN        NaN          NaN
3     Bodega      Total  Unidad base
4          0          1       unidad
5          0          0       unidad
6          0         14       unidad
7          0          5       unidad
8          0          0       unidad
9          0          4       unidad

In [ ]:
pp = pp.drop(2)
pp.head()

,Listado_existencias,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
3,Producto,Categoría,SKU,Tienda,Bodega,Total,Unidad base
4,Hamburguesa Cheddar Bacon Fresco,Grab And Go,31390,1,0,1,unidad
5,Hamburguesa Classic Cheddar Fresco,Grab And Go,31391,0,0,0,unidad
6,Miga Ave Pimenton Fresco,Grab And Go,31871,14,0,14,unidad
7,Miga Ave Mayo Fresco,Grab And Go,31872,5,0,5,unidad