In [28]:
import pandas as pd

data = pd.DataFrame({
    'SKU': [31390, 31871, 31874],
    'BANDEJA': [1, 2, 6],
    'TIENDA': [0, 0, 0],
    'BODEGA': [0, 0, 0],
    'MOVER': [0, 0, 0]

}).set_index('SKU')

df = pd.DataFrame(data)
df.to_csv('pacientes.csv', index=False)

In [29]:
data.head()

       BANDEJA  TIENDA  BODEGA  MOVER
SKU
31390        1       0       0      0
31871        2       0       0      0
31874        6       0       0      0

In [ ]:
import pandas as pd

pp = pd.read_excel("ppt.xlsx", header=None)
pp.columns = pp.iloc[4]
df = df[5:].reset_index(drop=True) 
print(pp.head(10))

4                            Producto    Categoría    SKU  Tienda  Bodega  \
0                 Listado_existencias          NaN    NaN     NaN     NaN
1                                 NaN          NaN    NaN     NaN     NaN
2                   Fecha Generación:   2025-06-11    NaN     NaN     NaN
3                                 NaN          NaN    NaN     NaN     NaN
4                            Producto    Categoría    SKU  Tienda  Bodega
5    Hamburguesa Cheddar Bacon Fresco  Grab And Go  31390       1       0
6  Hamburguesa Classic Cheddar Fresco  Grab And Go  31391       0       0
7            Miga Ave Pimenton Fresco  Grab And Go  31871      14       0
8                Miga Ave Mayo Fresco  Grab And Go  31872       5       0
9               Miga Ave Palta Fresco  Grab And Go  31873       0       0

4  Total  Unidad base
0    NaN          NaN
1    NaN          NaN
2    NaN          NaN
3    NaN          NaN
4  Total  Unidad base
5      1       unidad
6      0       unidad
7     14       unidad
8      5       unidad
9      0       unidad

In [31]:
pp = pp.drop(2)
pp.head()

4,Producto,Categoría,SKU,Tienda,Bodega,Total,Unidad base
0,Listado_existencias,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Producto,Categoría,SKU,Tienda,Bodega,Total,Unidad base
5,Hamburguesa Cheddar Bacon Fresco,Grab And Go,31390,1,0,1,unidad