In [23]:
def Borradoo(): 
    import os

    archivo = "./archivo.txt"

    try:
        os.remove(archivo)
        print("Archivo eliminado exitosamente.")
    except FileNotFoundError:
        print("El archivo no existe.")
    except PermissionError:
        print("No tienes permisos para eliminar este archivo.")


import pandas as pd

# DataFrame original con índice 'SKU'
data = pd.DataFrame({
    'SKU': [31390, 31871, 31872],
    'Producto': ['a', 'a', 'a'],
    'Categoria': ['a', 'a', 'a'],
    'Tienda': [0, 0, 0],
    'Bodega': [0, 0, 0],
    'Total': [0, 0, 0],
    'Unidad': ['a', 'a', 'a']
}).set_index('SKU')

In [24]:


# Leer Excel sin encabezado y asignar la fila 4 como encabezado
pp = pd.read_excel("ppt.xlsx", header=None)
pp.columns = pp.iloc[4]   # fila 4 (índice 4) como nombres de columnas
pp = pp[5:].reset_index(drop=True)  # tomar desde fila 5 hacia abajo, resetear índice
pp = pp.loc[:, ~pp.columns.isna()]   # eliminar columnas con nombre NaN

pp['SKU'] = pp['SKU'].fillna(0).astype(int)
pp = pp[pp['SKU'] != 0]
pp.columns = ['Producto', 'Categoria', 'SKU', 'Tienda', 'Bodega', 'Total', 'Unidad']
pp['Tienda'] = pp['Tienda'].fillna(0).astype(int)
pp['Bodega'] = pp['Bodega'].fillna(0).astype(int)

# Asignar índice SKU para poder hacer update basado en índices
NuevoID = pp.set_index('SKU')

# Actualizar el DataFrame 'data' con los valores del DataFrame 'NuevoID'
data.update(NuevoID)

/tmp/ipykernel_1477/3319124611.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pp['Tienda'] = pp['Tienda'].fillna(0).astype(int)
/tmp/ipykernel_1477/3319124611.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pp['Bodega'] = pp['Bodega'].fillna(0).astype(int)

In [25]:
pp.head()

,Producto,Categoria,SKU,Tienda,Bodega,Total,Unidad
0,Hamburguesa Cheddar Bacon Fresco,Grab And Go,31390,1,0,1,unidad
1,Hamburguesa Classic Cheddar Fresco,Grab And Go,31391,0,0,0,unidad
2,Miga Ave Pimenton Fresco,Grab And Go,31871,14,0,14,unidad
3,Miga Ave Mayo Fresco,Grab And Go,31872,5,0,5,unidad
4,Miga Ave Palta Fresco,Grab And Go,31873,0,0,0,unidad

In [26]:
NuevoID.info()

<class 'pandas.core.frame.DataFrame'>
Index: 471 entries, 31390 to 203035
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Producto   471 non-null    object
 1   Categoria  471 non-null    object
 2   Tienda     471 non-null    int64
 3   Bodega     471 non-null    int64
 4   Total      471 non-null    object
 5   Unidad     471 non-null    object
dtypes: int64(2), object(4)
memory usage: 41.9+ KB

In [ ]:
data.head()

Archivo eliminado exitosamente.

In [ ]:
Borradoo()