In [ ]:
import pandas as pd

# DataFrame original con índice 'SKU'
data = pd.DataFrame({
    'SKU': [31390, 31871, 31874],
    'BANDEJA': [1, 2, 6],
    'Tienda': [0, 0, 0],
    'Bodega': [0, 0, 0],
    'MOVER': [0, 0, 0]
}).set_index('SKU')


#data2 = pd.DataFrame({
#    'SKU': [31390, 31871, 31874],
#    'BANDEJA': [1, 2, 6],
#    'Tienda': [1, 1, 1],
#    'Bodega': [2, 2, 2],
#    'MOVER': [3, 3, 3]
#}).set_index('SKU')



# Leer Excel sin encabezado y asignar la fila 4 como encabezado
pp = pd.read_excel("ppt.xlsx", header=None)
pp.columns = pp.iloc[4]   # fila 4 (índice 4) como nombres de columnas
pp = pp[5:].reset_index(drop=True)  # tomar desde fila 5 hacia abajo, resetear índice
pp = pp.loc[:, ~pp.columns.isna()]   # eliminar columnas con nombre NaN

# Asignar índice SKU para poder hacer update basado en índices
NuevoID = pp.set_index('SKU')

# Actualizar el DataFrame 'data' con los valores del DataFrame 'NuevoID'
data.update(data2)

In [96]:
NuevoID.head()

4,Producto,Categoría,Tienda,Bodega,Total,Unidad base
SKU,,,,,,
31390,Hamburguesa Cheddar Bacon Fresco,Grab And Go,1,0,1,unidad
31391,Hamburguesa Classic Cheddar Fresco,Grab And Go,0,0,0,unidad
31871,Miga Ave Pimenton Fresco,Grab And Go,14,0,14,unidad
31872,Miga Ave Mayo Fresco,Grab And Go,5,0,5,unidad
31873,Miga Ave Palta Fresco,Grab And Go,0,0,0,unidad

In [94]:
NuevoID.head()

4,Producto,Categoría,Tienda,Bodega,Total,Unidad base
SKU,,,,,,
31390,Hamburguesa Cheddar Bacon Fresco,Grab And Go,1,0,1,unidad
31391,Hamburguesa Classic Cheddar Fresco,Grab And Go,0,0,0,unidad
31871,Miga Ave Pimenton Fresco,Grab And Go,14,0,14,unidad
31872,Miga Ave Mayo Fresco,Grab And Go,5,0,5,unidad
31873,Miga Ave Palta Fresco,Grab And Go,0,0,0,unidad